@model IEnumerable<URC.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<div id="red-box-list">
    <div class="bg-white">
        <h1>Application Created Successfully!</h1>
        <a asp-action="Application">Back to List</a>
    </div>
</div>
